<nav class="bg-gray-800">
  <div class="flex items-center justify-between h-16 p-5">
    <div class="flex-shrink-0">
      <a routerLink="/home" class="text-3xl font-bold text-white">{{
        currentUrl | capitalization
      }}</a>
      <br />
    </div>

    <div class="hidden md:block">
      <div class="ml-10 flex items-baseline space-x-4">
        <a
          routerLink="/home"
          class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
          >Home</a
        >
        <a
          routerLink="/about"
          class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
          >About</a
        >
        <a
          routerLink="/register"
          class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
          >Registration</a
        >
        <a
          routerLink="/login"
          class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
          >Login</a
        >
        <a
          routerLink="/user"
          class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
          >User</a
        >
      </div>
    </div>
  </div>

  <div class="md:hidden" id="mobile-menu">
    <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
      <a
        routerLink="/home"
        class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
        >Home</a
      >
      <a
        routerLink="/about"
        class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
        >About</a
      >
      <a
        routerLink="/register"
        class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
        >Registration</a
      >
      <a
        routerLink="/login"
        class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
        >Login</a
      >
      <a
        routerLink="/user"
        class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium"
        >User</a
      >
    </div>
  </div>
</nav>
